<div class="login">
    <div class="wrapper">
      <div class="title"><span>Add Film</span></div>
      <%- include ("./partials/messages"); %>
      <form action="/films/addfilm" method="POST" enctype="multipart/form-data">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="name" id="name" name="name" placeholder="Enter Name" class="form-control" 
          value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div class="row">
          <i class="fas fa-at"></i>
          <input type="text" id="synopsis" name="synopsis" placeholder="Enter Synopsis" class="form-control" 
          value="<%= typeof synopsis != 'undefined' ? synopsis : '' %>" />
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" id="runTime" name="runTime" placeholder="Enter runTime" class="form-control" 
            value="<%= typeof runTime != 'undefined' ? runTime : '' %>" />
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" id="genre" name="genre" placeholder="Enter genre" class="form-control" 
            value="<%= typeof genre != 'undefined' ? genre : '' %>" />
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" id="releaseDate" name="releaseDate" placeholder="Enter releaseDate" class="form-control" 
            value="<%= typeof releaseDate != 'undefined' ? releaseDate : '' %>" />
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" id="director" name="director" placeholder="Enter director" class="form-control" 
            value="<%= typeof director != 'undefined' ? director : '' %>" />
        </div>
        <div class="row">
          <i class="fas fa-at"></i>
          <input type="text" id="trailer" name="director" placeholder="Enter trailer link" class="form-control" 
          value="<%= typeof trailer != 'undefined' ? trailer : '' %>" />
      </div>
        <div class="row">
            <input type="file" class="custom-file-input" id="imageInput" aria-describedby="inputGroupFileAddon01" name="imagefile">
            <label class="custom-file-label" for="imageInput">Image file</label>
        </div>

        </div>
        <div class="row button">
        <input type="submit" value="Add Film">
        </div>
      </form>
    </div>
  </div>
  