<div class="login">
    <div class="wrapper">
      <div class="title"><span>Create Movie</span></div>
      <%- include ("./partials/messages"); %>
      <form action="/movie-router/movie" method="POST">
        <div class="row">
          <i class="fas fa-user"></i>
          <input 
          type="name"
          id="name"
          name="name" 
          placeholder="Enter Name" 
          class="form-control" 
          value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="row">
          <i class="fas fa-at"></i>
          <input 
          type="synopsis"
          id="synopsis"
          name="synopsis" 
          placeholder="Enter synopsis" 
          class="form-control" 
          value="<%= typeof synopsis != 'undefined' ? synopsis : '' %>"
          />
        </div>
        <div class="row">
          <i class="fas fa-user"></i>
          <input 
          type="runTime"
          id="runTime"
          name="runTime" 
          placeholder="Enter runTime" 
          class="form-control" 
          value="<%= typeof runTime != 'undefined' ? runTime : '' %>"
          />
        </div>
        <div class="row">
            <i class="fas fa-user"></i>
            <input 
            type="releaseDate"
            id="releaseDate"
            name="releaseDate" 
            placeholder="Enter releaseDate" 
            class="form-control" 
            value="<%= typeof releaseDate != 'undefined' ? releaseDate : '' %>"
            />
          </div>
          <div class="row">
            <i class="fas fa-user"></i>
            <input 
            type="rating"
            id="rating"
            name="rating" 
            placeholder="Enter rating" 
            class="form-control" 
            value="<%= typeof rating != 'undefined' ? rating : '' %>"
            />
          </div>
          <div class="row">
            <i class="fas fa-user"></i>
            <input 
            type="genre"
            id="genre"
            name="genre" 
            placeholder="Enter genre" 
            class="form-control" 
            value="<%= typeof genre != 'undefined' ? genre : '' %>"
            />
          </div>


        posterImg
        <div class="row button">
        <input type="submit" value="Create Movie">
        </div>
      </form>
    </div>
  </div>
  