<nav>            
    <div class="menu-icon"><span class="fas fa-bars"></span></div>
    <div class="logo">MovieSite</div>
      <div class="nav-items">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/films/FilmList">Movies</a></li>
        <li><a href="/shows/ShowList">Television</a></li>
        <li><a href="/users/editprofile"><%= user.username %></a></li>
        <li><a href="/chatHome">Chat App</a></li>
        <li><a href="../users/logout">Logout</a></li>
      </div>
    
    <div class="search-icon"><span class=""></span></div>
    <div class="cancel-icon"><span class="fas fa-times"></span></div>
</nav>	

<div class="login">
    <div class="wrapper">
      <div class="title"><span>Edit your Profile</span></div>
      <%- include ("./partials/messages"); %>
      <form action="/users/editprofile" method="POST">
        <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Name" class="form-control" value="<%= user.name %>" 
            name="name"> 
          </div>
          <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" placeholder="Email Address" class="form-control" value="<%= user.email %>" 
            name="email"> 
          </div>
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" class="form-control" value="<%= user.username %>" 
            name="username"> 
          </div>

        <div class="row button">
        <input type="submit" value="Update Details">
        </div>
      </form>
    </div>
</div>

<script>
const menuBtn = document.querySelector(".menu-icon span");
const searchBtn = document.querySelector(".search-icon");
const cancelBtn = document.querySelector(".cancel-icon");
const items = document.querySelector(".nav-items");
const form = document.querySelector("form");
				
menuBtn.onclick = ()=>{
	items.classList.add("active");
	menuBtn.classList.add("hide");
	searchBtn.classList.add("hide");
	cancelBtn.classList.add("show");
}
					
cancelBtn.onclick = ()=>{
	items.classList.remove("active");
	menuBtn.classList.remove("hide");
	searchBtn.classList.remove("hide");
	cancelBtn.classList.remove("show");
	cancelBtn.style.color = "#c96567";
	form.classList.remove("active");
}

</script>

<footer>
	<p>&copy; Copyright 2020 - MovieSite Inc</p>
</footer>