<nav>            
    <div class="menu-icon"><span class="fas fa-bars"></span></div>
    <div class="logo">MovieSite</div>
        <div class="nav-items">
            <li><a href="#">Home</a></li>
            <li><a href="/films/FilmList">Movies</a></li>
            <li><a href="/shows/ShowList">Television</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </div>

        <div class="search-icon"><span class=""></span></div>
        <div class="cancel-icon"><span class="fas fa-times"></span></div>

</nav>
<main class="main-content"> 
        <div class="container">
            <div class="page">
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="movie-poster"><img src="../../public/filmsimages/<%=posterFile %>" alt="#"></figure>
                        </div>
                        <div class="col-md-6">
                            <h2 class="movie-title"><%= name %></h2>
                            <div class="movie-summary">
                                <p><%= synopsis %></p>
                            </div>
                            <ul class="movie-meta">
                                <li><strong>Rating:</strong> 
                                    <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
                                </li>
                                <li><strong>Length: </strong><%= runTime %> mins</li>
                                <li><strong>Premiere: </strong> <%= releaseDate %></li>
                                <li><strong>Category: </strong><%= genre %></li>
                            </ul>

                            <ul class="starring">
                                <li><strong>Director:</strong> <%= director %></li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
        </div> 
    </main>


<script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
                
menuBtn.onclick = ()=>{
    items.classList.add("active");
    menuBtn.classList.add("hide");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
}
                    
cancelBtn.onclick = ()=>{
    items.classList.remove("active");
    menuBtn.classList.remove("hide");
    searchBtn.classList.remove("hide");
    cancelBtn.classList.remove("show");
    cancelBtn.style.color = "#c96567";
    form.classList.remove("active");
}

searchBtn.onclick = ()=>{
    form.classList.add("active");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
}
</script>
                    
<!--footer-->
<footer>
    <p>&copy; Copyright 2020 - MovieSite Inc</p>
</footer>



