<nav>            
    <div class="menu-icon"><span class="fas fa-bars"></span></div>
    <div class="logo">MovieSite</div>
        <div class="nav-items">
            <li><a href="https://movie--site.herokuapp.com/">Home</a></li>
            <li><a href="/films/FilmList">Movies</a></li>
            <li><a href="/shows/ShowList">Television</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </div>

        <div class="search-icon"><span class=""></span></div>
        <div class="cancel-icon"><span class="fas fa-times"></span></div>

</nav>  
  
  <div class="login">
    <div class="wrapper">
      <div class="title"><span>Register</span></div>
      <%- include ("./partials/messages"); %>
      <form action="/users/register" method="POST">
        <div class="row">
          <i class="fas fa-user"></i>
          <input 
          type="name"
          id="name"
          name="name" 
          placeholder="Enter Name" 
          class="form-control" 
          value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="row">
          <i class="fas fa-at"></i>
          <input 
          type="email"
          id="email"
          name="email" 
          placeholder="Enter Email" 
          class="form-control" 
          value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="row">
          <i class="fas fa-user"></i>
          <input 
          type="username"
          id="username"
          name="username" 
          placeholder="Enter Username" 
          class="form-control" 
          value="<%= typeof username != 'undefined' ? username : '' %>"
          />
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password"               
          id="password"
          name="password"
          class="form-control" 
          placeholder="Enter Password" 
          value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password"               
          id="password2"
          name="password2"
          class="form-control" 
          placeholder="Confirm Password" 
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="row button">
        <input type="submit" value="Register">
        </div>
        <div class="signup-link">Have an Account? <a href="/users/login">Login Here!</a></div>
      </form>
    </div>
  </div>

<script>
  const menuBtn = document.querySelector(".menu-icon span");
  const searchBtn = document.querySelector(".search-icon");
  const cancelBtn = document.querySelector(".cancel-icon");
  const items = document.querySelector(".nav-items");
  const form = document.querySelector("form");
              
menuBtn.onclick = ()=>{
  items.classList.add("active");
  menuBtn.classList.add("hide");
  searchBtn.classList.add("hide");
  cancelBtn.classList.add("show");
}
                  
cancelBtn.onclick = ()=>{
  items.classList.remove("active");
  menuBtn.classList.remove("hide");
  searchBtn.classList.remove("hide");
  cancelBtn.classList.remove("show");
  cancelBtn.style.color = "#c96567";
  form.classList.remove("active");
}

searchBtn.onclick = ()=>{
  form.classList.add("active");
  searchBtn.classList.add("hide");
  cancelBtn.classList.add("show");
}
</script>

<footer>
  <p>&copy; Copyright 2020 - MovieSite Inc</p>
</footer>