<nav>            
    <div class="menu-icon"><span class="fas fa-bars"></span></div>
    <div class="logo">MovieSite</div>
      <div class="nav-items">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/films/FilmList">Movies</a></li>
        <li><a href="/shows/ShowList">Television</a></li>
        <li><a href="/users/editprofile"><%= user.username %></a></li>
        <li><a href="/chatHome">Chat App</a></li>
        <li><a href="../../users/logout">Logout</a></li>
      </div>
    
    <div class="search-icon"><span class=""></span></div>
    <div class="cancel-icon"><span class="fas fa-times"></span></div>
</nav>	

<main class="main-content">
	<header class="site-header">
</header>
	<div class="container">
		<div class="page">
			<div class="breadcrumbs">
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-6">
						<figure class="movie-poster"><img src="../../public/TVimages/<%=posterFile %>" alt="#"></figure>
					</div>
					<div class="col-md-6">
						<h2 class="movie-title"><%= name %></h2>
						<div class="movie-summary">
							<p><%= overview %></p>
						</div>
						<ul class="movie-meta">
							<li>
								
							</li>
							<li><strong>No of Seasons: </strong><%= seasons %></li>
							<li><strong>No of Episodes: </strong><%= episodes %></li>
							<li><strong>Release Year: </strong><%= releaseYear %></li>
                            <li><strong>Genre: </strong><%= genre %></li>
						</ul>

						<ul class="starring">
							<li><strong>Creator(s): </strong><%= creator %></li>
							<li><strong>Rating: </strong><%= rating %></li>
                            <li><strong>Network: </strong><%= network %></li>
							<button class="button1"><i class="fa fa-play"></i> Watch trailer</button>
						</ul>

						<div class="trailer">
							<iframe width="700" height="400"
							src="<%= trailer %>">
							</iframe>
							<span class="close">&times;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
<div class="site-footer"></div>
</main>


<script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
	const button = document.querySelector("button");
	const close = document.querySelector(".close");
	const trailer = document.querySelector(".trailer");
	const video = document.querySelector("video");

button.addEventListener('click', ()=>{
	trailer.style.visibility = "visible";
	trailer.style.opacity = 1;
});

close.addEventListener('click', ()=>{
	trailer.style.visibility = "hidden";
	trailer.style.opacity = 0;

	video.pause();
	video.currentTime = 0;
});
			
menuBtn.onclick = ()=>{
    items.classList.add("active");
    menuBtn.classList.add("hide");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
}
                    
cancelBtn.onclick = ()=>{
    items.classList.remove("active");
    menuBtn.classList.remove("hide");
    searchBtn.classList.remove("hide");
    cancelBtn.classList.remove("show");
    cancelBtn.style.color = "#c96567";
    form.classList.remove("active");
}

searchBtn.onclick = ()=>{
    form.classList.add("active");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
}
</script>

<footer>
    <p>&copy; Copyright 2020 - MovieSite Inc</p>
</footer>